@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
h1,
h2,
h3,
button,
p,
span {
  color: #fff;
  text-decoration: none;
}

.section-anchor {
  scroll-margin-top: var(--header-height, 0px);
}


.bg-img-header-hero {
  background-image: url('/images/background-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}